footer {
  background: black;
  margin: 0;

}

ul.redeSocial {
  list-style: none;
  margin: 0;

}
ul.redeSocial li {
  display: inline-block;
  margin: 0;
  padding: 5px 10px;

}

.fab {
  font-size: 28px !important;
  color: white;
  padding: 1px
 
}

.fa-github-alt:hover {
  color: #707070;
}
.fa-linkedin:hover {
  color: #0a66c2;
}
.fa-instagram:hover {
    color: #C13584;
}

.direitoRese{
    font-size: 8pt !important;
    color: white;
    background-color: rgb(19, 19, 19);
    margin-bottom: 0;
}

.fab.fa-angular{
  font-size: 12px !important;
  color: white;
 
}
.fab.fa-angular:hover{
  color: rgb(182, 5, 5);
}

