<footer class="page-footer font-small pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center p-0">
                <h4 class="text-white">Me siga nas redes sociais</h4>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="redeSocial p-0">
                    <li>
                        <a class="icoFooter" href="https://www.linkedin.com/in/guilherme-moreira-souza/" target="_blank">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="icoFooter" href="https://github.com/moreiraguui" target="_blank">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="icoFooter" href="https://www.instagram.com/carvalhoguui/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>                           
                        </a>
                    </li>
                </ul>
             
            </div>
        </div>
    </div>
    <div class="direitoRese text-center p-2">
        <p>Todos os Direitos Reservados para: Guilherme Moreira &copy;</p>
       
         <p class="text-white d-inline pb-2">Desenvolvido com Angular 
        </p>
        <a href="https://angular.io/" target="_blank"> <img class="logoAng" src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/24/000000/external-angular-a-typescript-based-open-source-web-application-framework-logo-bold-tal-revivo.png" alt=""> </a>
    </div>
</footer>