@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap%27");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap%27");

.btn2 {
  background-color: black;
  color: white;
  border-radius: 5px;
}

button {
  width: 100% !important;
  font-family: Poppins, sans-serif;
}

h1 {
  font-family: Montserrat, sans-serif !important;
  font-size: 1.8rem !important;
  color: black !important;
  font-weight: bold !important;
}

label {
  font-family: Montserrat, sans-serif;
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
}

input {
  font-family: Poppins, sans-serif;
  font-size: 0.8rem;
  color: black;
}
