<div class="container my-4">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Apagar postagem</h1>
        </div> 
    </div>

    <div class="row ">
        <div class="col-md-12">
            <h4 class="text-center text-secondary">Você tem certeza que deseja apagar essa postagem?</h4>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12 mt-4 d-flex justify-content-center">
            <div class="card d-flex flex-row align-items-center"> 
                <img src="{{postagem.foto}}" class="card-img-top"> 
                <div class="card-body p-0">
                    <h5 class="card-title my-3">{{postagem.titulo}}</h5>
                    <div class="d-flex flex-row align-items-center"> 
                        <small class="text-muted"><i class="fas fa-list-ul pr-2"></i>{{postagem.tema.descricao}}</small>        
                        <small class="text-muted"><i class="fas fa-calendar-alt pr-2"></i>{{postagem.data | date: 'dd/MM/yyyy'}}</small>
            </div>
                <p class="card-text my-3">{{postagem.texto}}</p>
                </div>
            </div>
        </div>
    </div>
                
    <div class="row mt-3">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-danger mr-3 w-100" routerLink="/inicio"><i class="fas fa-times-circle pr-2"></i>Não</button>
            <button class="btn btn-success w-100 " (click)="apagar()"><i class="fas fa-check pr-2"></i>Sim</button>
        </div>
    </div>

</div>
     

