#imgBackground {
    background-image: url('https://i.imgur.com/Vyww2b0.png');
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

@media (max-width: 768px) {
    #imgBackground {
        display: none;
    }
}

#tamEntrar {
    height: 100vh;
   }
  